@font-face{
  font-family: "Montserrat"; 
  font-weight: 700; 
  font-style: normal; 
  src: local("Lato"),
  url("../fonts/Montserrat-BoldWoff2.woff2") format('woff2'), 
  url("../fonts/Montserrat-Bold.woff") format('woff'),
  url("../fonts/Montserrat-Bold.eot") format('eot');
  font-display: swap;
}

@font-face{
  font-family: "Montserrat"; 
  font-weight: 500; 
  font-style: normal; 
  src: local("Lato"),
  url("../fonts/Montserrat-MediumWoff2.woff2") format('woff2'), 
  url("../fonts/Montserrat-Medium.woff") format('woff'),
  url("../fonts/Montserrat-Medium.eot") format('eot');
  font-display: swap;
}

@font-face{
  font-family: "Montserrat"; 
  font-weight: 400; 
  font-style: normal; 
  src: local("Lato"),
  url("../fonts/Montserrat-RegularWoff2.woff2") format('woff2'), 
  url("../fonts/Montserrat-Regular.woff") format('woff'),
  url("../fonts/Montserrat-Regular.eot") format('eot');
  font-display: swap;
}