*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #443a5a;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: $fs-purple-dark;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  text-align: center;
  margin-top: 25px;
  color: $fs-gray;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-title {
  color: $fs-white;
  font-size: 50px;
  font-weight: 700;
}

.border-line {
  display: block;
  margin-top: 15px;
  width: 46px;
  height: 3px;
  background: #ff2d55;
}
