//Colors fs

$fs-white: #fff;
$fs-black: #000;
$fs-purple-dark: #23153e;
$fs-purple-light: #6750a4;
$fs-gray: #443A5A;

//Colors Bg

$bg-white: #fff;
$bg-black: #000;
$bg-purple-dark: #23153e;
$bg-purple-light: #6750a4;

//Colors border

$border-black: #000;
$border-white: #fff;