@import "vars";
@import 'reset';
@import 'fonts';
@import 'global';

@import "blocks/_header";
@import "blocks/_banner";
@import "blocks/_work";
@import "blocks/_benefits";
@import "blocks/_beforePregn";
@import "blocks/_duringPregn";
@import "blocks/_blog";
@import "blocks/_goToForm";
@import "blocks/_footer";
