.before-pregn {
  margin-top: 140px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    margin-right: 10px;
    max-width: 555px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-text {
      margin: 20px 0 0;
    }
  }
  &__img {
    max-width: 545px;
    img {
      width: 100%;
    }
  }
}

@media(max-width: 1025px) {
  .before-pregn {
    &__content {
      max-width: 425px;
    }
  }
}

@media(max-width: 769px) {
  .before-pregn {
    &__inner {
      flex-direction: column;
    }
    &__content {
      max-width: none;
    }
    &__img {
      max-width: 400px;
    }
  }
}

@media (max-width: 481px) {
  .before-pregn {
    &__img {
      max-width: 300px;
    }
  }
}