.during-pregn{
  padding-top: 70px;
  position: relative;
  &__bg-text {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img{
    max-width: 545px;
    img{
      width: 100%;
    }
  }
  &__content{
    margin-left: 10px;
    max-width: 500px;
    &-text{
      margin-top: 25px;
    }
  }
}