.form {
  margin: 200px 0 100px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 60px 30px;
    border-radius: 3px;
    background-image: url(../images/bg-page-form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}